absl-py==1.1.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.2.1
antlr4-python3-runtime==4.8
app==0.0.1
appdirs==1.4.4
async-timeout==4.0.2
babel==2.10.1
black==19.3b0
bleach==5.0.0
bs4==0.0.1
cachetools==5.2.0
cfgv==3.3.1
click==8.0.4
cnn-finetune==0.6.0
colorama==0.4.5
commonmark==0.9.1
#conda==4.3.16
contextlib2==21.6.0
cycler==0.11.0
cython==0.29.22
datasets==2.12.0
deprecated==1.2.13
dill==0.3.6
distlib==0.3.4
docutils==0.17.1
efficientnet-pytorch==0.7.1
einops==0.4.1
fairscale==0.4.6
faiss-gpu==1.7.2
fastjsonschema==2.15.3
filelock==3.7.0
flake8==3.8.1
flake8-bugbear==22.4.25
flake8-comprehensions==3.10.0
focal-loss-torch==0.1.2
fonttools==4.33.3
frozenlist==1.3.3
fvcore==0.1.3.post20210317
google-auth==2.9.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
huggingface-hub==0.14.1
humanize==4.0.0
hydra-core==1.0.7
identify==2.5.1
imagesize==1.3.0
importlib-resources==5.7.1
iniconfig==1.1.1
iopath==0.1.9
ipdb==0.13.9
ipywidgets==7.7.1
isort==5.7.0
joblib==1.1.0
jsonschema==4.5.1
jupyter-client==7.3.1
jupyterlab-widgets==1.1.1
kaggle==1.5.13
kiwisolver==1.4.2
markdown==3.3.7
matplotlib==3.5.2
mccabe==0.6.1
medpy==0.4.0
ml-collections==0.1.1
#mmcv-full==1.6.2
mmcv-full
mmdet==2.25.2
model-index==0.1.11
multidict==6.0.4
multiprocess==0.70.14
munch==2.5.0
natsort==8.2.0
nbclient==0.6.3
nibabel==3.2.2
nodeenv==1.6.0
numpy==1.21.5
oauthlib==3.2.0
omegaconf==2.0.6
opencv-python==4.5.5.64
openmim==0.3.2
ordered-set==4.1.0
parameterized==0.7.4
platformdirs==2.5.2
pluggy==1.0.0
portalocker==2.4.0
pre-commit==2.19.0
pretrainedmodels==0.7.4
py==1.11.0
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.7
pycodestyle==2.6.0
pycosat==0.6.3
pyflakes==2.2.0
pyrsistent==0.18.1
pytest==7.1.2
python-slugify==8.0.1
pyzmq==23.0.0
qudida==0.0.4
regex==2023.5.5
requests-oauthlib==1.3.1
responses==0.18.0
rich==12.6.0
rsa==4.8
ruamel-yaml==0.17.21
ruamel-yaml-clib==0.2.7
safetensors==0.3.1
#scikit-learn==0.24.1
scikit-learn
self-attention-cv==1.2.3
setuptools==59.5.0
#simpleitk==2.1.1
simpleitk==2.1.1.1
snowballstemmer==2.2.0
sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
submitit==1.3.3
tabulate==0.8.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardx==2.6
termcolor==1.1.0
terminaltables==3.1.10
text-unidecode==1.3
threadpoolctl==3.1.0
tim==0.5
timm==0.6.5
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torchio==0.18.73
torchmetrics==0.10.0
tqdm==4.62.3
traitlets==5.2.1.post0
transformers==4.28.1
typing-extensions==4.4.0
unzip==1.0.0
virtualenv==20.14.1
werkzeug==2.1.2
widgetsnbextension==3.6.1
wrapt==1.13.3
xxhash==3.2.0
yacs==0.1.8
yapf==0.32.0
yarl==1.9.2
monai==1.1.0
ensemble-boxes==1.0.8
torch